<section class="custom-testimonials">
    <span>{{ section.settings.span_text }}</span>
    <div class="testimonials">
      {% for block in section.blocks %}
        <div class="testimonial" id="block-{{ block.id }}">
          {% comment %} {% if block.settings.image %}
            <img src="{{ block.settings.image | img_url: 'medium' }}" alt="{{ block.settings.title }}">
          {% endif %} {% endcomment %}
          <h3>{{ block.settings.title }}</h3>
          <p>{{ block.settings.text }}</p>
        </div>
      {% endfor %}
    </div>
  </section>
  
  
  {% schema %}
{
  "name": "Custom Testimonials",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "span_text",
      "label": "Span text"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Name / Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Testimonial"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "Custom Testimonials",
      "category": "Testimonials",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ]
}
{% endschema %}

  
  